{
    // Port server will be running at
    "port": 8081,
    
    // Name of the host you are running the script on, you can set it to domain or IP address
    "hostname": "localhost:8081",

    // Your MongoDB connection details, required for saving file and user data
    "mongodb": {
        "host": "mongodb://127.0.0.1:27017/",
        "username": "admin",
        "password": "",
        "database": "cheemsdog",
    },

    // Mail configuration for registration, resetting passwords, etc.
    "smtp": {
        "host": "smtp.gmail.com",
        "port": 587,
        "username": "test@gmail.com",
        "password": ""
    }
}